.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .bear-logo {
    margin-top: 5vh;
    display: block;
    text-indent: -9999px;
    width: 150px;
    height: 120px;
    background-size: 100px 82px;
  }

  .contact-header {
    margin-top: 2rem;
    color: white;
    font-family: "Poppins", sans-serif;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  width: 70vh;
}

.contact-button {
  margin-top: 3rem;
  background: none;
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  border-radius: 4px;
  border: 2px solid white;
  cursor: pointer;
  transition: ease 0.3s;
  padding: 5px;
  width: 10rem;
}

.contact-button:hover {
  background: rgba(0, 0, 0, 0.7);
  color: #ff9a4f;
  border: 2px solid #ff9a4f;
}

.form-container {
  margin-top: 7vw;
}
